# Ignore Gradle project-specific cache directory
.gradle
gradle
gradle*

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Ignore Gradle build output directory
build

# Ignore Intellij directory
.idea
